In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [28]:
data = pd.read_csv(r"C:\Users\stanx\Downloads\1976-2020-president.csv")
data = data.drop(columns=['state_fips', 'state_cen', 'state_ic', 'state_po', 'version'])
data

,year,state,office,candidate,party_detailed,writein,candidatevotes,totalvotes,notes,party_simplified
0,1976,ALABAMA,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,NaN,DEMOCRAT
1,1976,ALABAMA,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,NaN,REPUBLICAN
2,1976,ALABAMA,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,NaN,OTHER
3,1976,ALABAMA,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,NaN,OTHER
4,1976,ALABAMA,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,NaN,OTHER
...,...,...,...,...,...,...,...,...,...,...
4282,2020,WYOMING,US PRESIDENT,"JORGENSEN, JO",LIBERTARIAN,False,5768,278503,NaN,LIBERTARIAN
4283,2020,WYOMING,US PRESIDENT,"PIERCE, BROCK",INDEPENDENT,False,2208,278503,NaN,OTHER
4284,2020,WYOMING,US PRESIDENT,NaN,NaN,True,1739,278503,NaN,OTHER
4285,2020,WYOMING,US PRESIDENT,OVERVOTES,NaN,False,279,278503,NaN,OTHER
4286,2020,WYOMING,US PRESIDENT,UNDERVOTES,NaN,False,1459,278503,NaN,OTHER

In [31]:
temp = data.groupby(['year', 'state'])
temp.head(20)

,year,state,office,candidate,party_detailed,writein,candidatevotes,totalvotes,notes,party_simplified
0,1976,ALABAMA,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,NaN,DEMOCRAT
1,1976,ALABAMA,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,NaN,REPUBLICAN
2,1976,ALABAMA,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,NaN,OTHER
3,1976,ALABAMA,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,NaN,OTHER
4,1976,ALABAMA,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,NaN,OTHER
...,...,...,...,...,...,...,...,...,...,...
4282,2020,WYOMING,US PRESIDENT,"JORGENSEN, JO",LIBERTARIAN,False,5768,278503,NaN,LIBERTARIAN
4283,2020,WYOMING,US PRESIDENT,"PIERCE, BROCK",INDEPENDENT,False,2208,278503,NaN,OTHER
4284,2020,WYOMING,US PRESIDENT,NaN,NaN,True,1739,278503,NaN,OTHER
4285,2020,WYOMING,US PRESIDENT,OVERVOTES,NaN,False,279,278503,NaN,OTHER
4286,2020,WYOMING,US PRESIDENT,UNDERVOTES,NaN,False,1459,278503,NaN,OTHER

In [34]:

winners = temp.max('candidatevotes')
winners.head(50)

                           candidatevotes  totalvotes  notes
year state
1976 ALABAMA                       659170     1182850    NaN
     ALASKA                         71555      123574    NaN
     ARIZONA                       418642      742719    NaN
     ARKANSAS                      498604      767535    NaN
     CALIFORNIA                   3882244     7803770    NaN
     COLORADO                      584278     1081440    NaN
     CONNECTICUT                   719261     1386355    NaN
     DELAWARE                      122461      235642    NaN
     DISTRICT OF COLUMBIA          137818      168830    NaN
     FLORIDA                      1636000     3150631    NaN
     GEORGIA                       979409     1463152    NaN
     HAWAII                        147375      291301    NaN
     IDAHO                         204151      340932    NaN
     ILLINOIS                     2364269     4721282    NaN
     INDIANA                      1183958     2220362    NaN
     IOWA                          632864     1279303    NaN
     KANSAS                        502752      957845    NaN
     KENTUCKY                      615717     1167142    NaN
     LOUISIANA                     661365     1277383    NaN
     MAINE                         236320      482968    NaN
     MARYLAND                      759612     1432273    NaN
     MASSACHUSETTS                1429475     2547558    NaN
     MICHIGAN                     1893742     3651590    NaN
     MINNESOTA                    1070440     1949931    NaN
     MISSISSIPPI                   381329      768390    NaN
     MISSOURI                      998387     1953600    NaN
     MONTANA                       173703      328734    NaN
     NEBRASKA                      359219      606749    NaN
     NEVADA                        101273      201876    NaN
     NEW HAMPSHIRE                 185935      339627    NaN
     NEW JERSEY                   1509688     3014472    NaN
     NEW MEXICO                    211419      416590    NaN
     NEW YORK                     3244165     6668262    NaN
     NORTH CAROLINA                927365     1677906    NaN
     NORTH DAKOTA                  153684      297308    NaN
     OHIO                         2009959     4110456    NaN
     OKLAHOMA                      545708     1092251    NaN
     OREGON                        492120     1029876    NaN
     PENNSYLVANIA                 2328677     4620787    NaN
     RHODE ISLAND                  227636      410584    NaN
     SOUTH CAROLINA                450807      802583    NaN
     SOUTH DAKOTA                  151505      300678    NaN
     TENNESSEE                     825879     1476346    NaN
     TEXAS                        2082319     4071884    NaN
     UTAH                          337908      541218    NaN
     VERMONT                       100387      183902    NaN
     VIRGINIA                      836554     1697094    NaN
     WASHINGTON                    777732     1555534    NaN
     WEST VIRGINIA                 435864      750590    NaN
     WISCONSIN                    1040232     2101336    NaN